.list-section {
  display: grid;
  grid-template-columns: minmax(auto, 1100px);
  justify-content: center;
}

.list-header {
  margin-left: 60px;
}

.list-card {
  display: inline-block;
}

.list-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(auto, 1fr));
  justify-content: center;
  justify-items: center;
  grid-gap: 0 30px;
}

.list-card-media img {
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  box-shadow: 3px 3px 28px 0 rgba(0, 0, 0, .3);
}

.list-card-description h3 {
  display: inline-block;
  margin: 10px 10px;
}

.list-card-action {
  text-align: center;
}

.list-card-action button {
  display: inline-block;
  cursor: pointer;
  border: none;
  color: #fff;
  background-color: #FB6143;
  width: 30px;
  height: 30px;
  padding: 5px;
  font-size: 20px;
  border-radius: 50%;
  box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, .3);
}